.back {
  padding: 0 0 1em 0;
  &__arrow {
    background: none;
    font-size: 1em;
    transition: all 0.3s linear;

    &:hover {
      cursor: pointer;
    }

    &::before {
      margin-right: 0.5em;
    }
  }
}
