.wrapper {
  //   padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}
.error {
  &__title {
    font-size: 3em;
  }
  &__subtitle {
    font-size: 2em;
    font-weight: 700;
    padding: 0 0 2rem 0;
  }
  &__text {
    font-size: 1.5em;
    font-style: italic;
  }
}
