@font-face {
  font-family: 'icons-font';
  src: url('../fonts/icons-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-']::before,
[class*=' _icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-camera:before {
  content: '\e94e';
}
._icon-crossed-arrows:before {
  content: '\e94f';
}
._icon-face-1:before {
  content: '\e950';
}
._icon-hash-1:before {
  content: '\e951';
}
._icon-hash-2:before {
  content: '\e952';
}
._icon-face-frown:before {
  content: '\e953';
}
._icon-user-checked:before {
  content: '\e954';
}
._icon-move-arrows:before {
  content: '\e955';
}
._icon-heart-1:before {
  content: '\e956';
}
._icon-connect-1:before {
  content: '\e957';
}
._icon-connect-2:before {
  content: '\e958';
}
._icon-ellipsis:before {
  content: '\e959';
}
._icon-ellipsis-circle-1:before {
  content: '\e95a';
}
._icon-heart-2:before {
  content: '\e95b';
}
._icon-tools-11:before {
  content: '\e95c';
}
._icon-question:before {
  content: '\e95d';
}
._icon-coin-of-dollar:before {
  content: '\e95e';
}
._icon-minus-on-circle:before {
  content: '\e93f';
}
._icon-round-delete:before {
  content: '\e944';
}
._icon-info-italic:before {
  content: '\e945';
}
._icon-info-bold:before {
  content: '\e946';
}
._icon-info-about:before {
  content: '\e947';
}
._icon-checkbox-checked-bold:before {
  content: '\e948';
}
._icon-double-checked:before {
  content: '\e949';
}
._icon-double-checked-circle:before {
  content: '\e94a';
}
._icon-attention-2:before {
  content: '\e94b';
}
._icon-attention-triangle:before {
  content: '\e94c';
}
._icon-attention-bold:before {
  content: '\e94d';
}
._icon-gift:before {
  content: '\e906';
}
._icon-smile-1:before {
  content: '\e907';
}
._icon-down-arrow_1:before {
  content: '\e908';
}
._icon-pencil:before {
  content: '\e909';
}
._icon-pen:before {
  content: '\e90a';
}
._icon-smile-2:before {
  content: '\e90b';
}
._icon-shopping-cart:before {
  content: '\e90c';
}
._icon-trash_delete-1:before {
  content: '\e90d';
}
._icon-left-arrow_1:before {
  content: '\e90e';
}
._icon-right-arrow_1:before {
  content: '\e90f';
}
._icon-up-arrow_1:before {
  content: '\e910';
}
._icon-forward-arrow:before {
  content: '\e911';
}
._icon-back-arrow:before {
  content: '\e912';
}
._icon-globe:before {
  content: '\e913';
}
._icon-telephone-1:before {
  content: '\e914';
}
._icon-telephone-2:before {
  content: '\e915';
}
._icon-geo:before {
  content: '\e916';
}
._icon-tools-1:before {
  content: '\e917';
}
._icon-plus_circle:before {
  content: '\e918';
}
._icon-mail:before {
  content: '\e919';
}
._icon-house:before {
  content: '\e91a';
}
._icon-trash_delete-2:before {
  content: '\e91b';
}
._icon-trash_delete-3:before {
  content: '\e91c';
}
._icon-tools-2:before {
  content: '\e91d';
}
._icon-hand_up:before {
  content: '\e91e';
}
._icon-calendar:before {
  content: '\e91f';
}
._icon-alarm9:before {
  content: '\e920';
}
._icon-bell:before {
  content: '\e921';
}
._icon-clock-2:before {
  content: '\e922';
}
._icon-clock-1:before {
  content: '\e923';
}
._icon-arrow_repeat:before {
  content: '\e924';
}
._icon-back-backwards-arrow:before {
  content: '\e925';
}
._icon-forward-arrows:before {
  content: '\e926';
}
._icon-document:before {
  content: '\e927';
}
._icon-delete-document:before {
  content: '\e928';
}
._icon-movie-document:before {
  content: '\e929';
}
._icon-delete-user:before {
  content: '\e92a';
}
._icon-opened-email:before {
  content: '\e92b';
}
._icon-add-bookmark:before {
  content: '\e92c';
}
._icon-bookmark-black:before {
  content: '\e92d';
}
._icon-bookmark-black-1:before {
  content: '\e92e';
}
._icon-bookmark-outlined:before {
  content: '\e92f';
}
._icon-chattwooutlined:before {
  content: '\e930';
}
._icon-eye-visible:before {
  content: '\e931';
}
._icon-delete-user-outlined-1:before {
  content: '\e932';
}
._icon-add-user:before {
  content: '\e933';
}
._icon-cross:before {
  content: '\e934';
}
._icon-add-cross:before {
  content: '\e935';
}
._icon-document-add:before {
  content: '\e936';
}
._icon-mp3-audio-file:before {
  content: '\e937';
}
._icon-zip-compressed:before {
  content: '\e938';
}
._icon-pdf-file:before {
  content: '\e939';
}
._icon-text-file:before {
  content: '\e93a';
}
._icon-image-file:before {
  content: '\e93b';
}
._icon-png-image:before {
  content: '\e93c';
}
._icon-document-file:before {
  content: '\e93d';
}
._icon-text-document:before {
  content: '\e93e';
}
._icon-folder:before {
  content: '\e940';
}
._icon-check-box_checked-1:before {
  content: '\e941';
}
._icon-check-box-unchecked:before {
  content: '\e942';
}
._icon-check-box_checked-2:before {
  content: '\e943';
}
._icon-print-1:before {
  content: '\e900';
}
._icon-print-2:before {
  content: '\e901';
}
._icon-arrow-right-1:before {
  content: '\e902';
}
._icon-arrow-left-1:before {
  content: '\e903';
}
._icon-arrow-right-2:before {
  content: '\e904';
}
._icon-arrow-left-2:before {
  content: '\e905';
}
