// =============== Шрифти ===============

$mainFontsize: 16; // Основний розмір шрифту

$titleFontSize: 1.5em; // Розмір заголовків зліва

$subTitleFontSize: 1em; // Розмір підзаголовків зліва

$mainFontFamily: 'OpenSans'; // Основний шрифт

$addFontFamily: Arial; // Додатковий шрифт

// =============== Кольори ===============
$buttonBorderColor: rgba(117, 91, 180, 1);
$inputBorderColor: rgba(117, 91, 180, 1);
$green: rgb(5, 173, 5);
$red: rgb(228, 8, 8);
$h1Color: rgba(104, 77, 167, 1);
$bgColor: rgba(117, 91, 180, 0.2);
$hoverBgColor: rgba(104, 77, 167, 1);
$hoverTextColor: rgb(0, 0, 0);
