.check-company {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  a {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 1;
  }
  &__title {
    margin: 1em 0;
  }
  &__input {
    font-size: 1.2em;
  }
  &__button-check {
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
      padding-bottom: 1em;
      text-align: center;
    }
    ul {
    }
    li {
      display: grid;
      grid-template-columns: 30% 1fr;
      gap: 1em;
      padding: 0.3em 0;
      border-top: 1px solid black;

      &:last-child {
        border-bottom: 1px solid black;
      }

      > div {
        padding-left: 1em;
        text-align: left;
        > a {
          text-align: left;
          color: blue;
          text-decoration: underline;
          display: inline;
        }
        > div {
          display: flex;
          flex-direction: column;
        }
        &:first-child {
          font-weight: 900;
        }
        &:last-child {
          border-left: 1px solid black;
          // display: flex;
          // flex-direction: column;
          // row-gap: 1em;
        }
      }
    }
  }
  &__content-link {
    display: inline !important;
    color: blue !important;
    text-decoration: underline;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__button-contract {
    // display: block;
    // position: fixed;
    // bottom: 1em;
    // right: 10%;
  }
}
