@import '../styles/variables.scss';
.court-decision-wrap {
  margin: 0 auto;
  h1 {
    width: 100%;
    text-align: center;
    line-height: 4em;
    margin-bottom: 1em;
  }
  .court-decisions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    .court-decision {
      box-shadow: 0 0 5px $buttonBorderColor;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      line-height: 1.8em;
      text-align: center;
      transition: all 0.2s linear;

      &:hover {
        box-shadow: 0 0 10px $inputBorderColor;
      }
      &__justice {
        font-weight: 900;
      }
      &__name-court {
      }
      &__category {
      }
      &__number {
      }
      &__adjudication-date {
        text-align: right;
      }
    }
  }
}
