@import '../styles/reset.scss';
@import '../styles/variables.scss';
@import '../styles/mediaQuery.scss';

* {
  user-select: none;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    display: flex;
    justify-content: space-between;
    flex: 1 1 50%;
    text-align: center;
    padding: 0.2em;
    margin-bottom: 1.5em;
    user-select: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    > a {
      display: flex;
      width: 100% !important;
      justify-content: flex-start;
      color: blue !important;
      text-align: left;
      padding: 0.1em 0 0.8em 0.4em;
      font-size: 0.9em;
    }

    > input {
      font-size: 1.2em;
      // width: 20em;
    }
  }

  &__forgot-password {
    color: blue;
    padding: 0.2em 0 0.8em 0.4em;
    font-size: 0.9em;
    &:hover {
      cursor: pointer;
    }
  }
}

.reset-password-popap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bgColor;
  padding: 1.5em;
  border-radius: 5px;

  &__back {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s linear;

    &::before {
      color: $buttonBorderColor;
      padding-right: 0.5em;
    }
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
    &:hover::before {
      cursor: pointer;
      font-weight: 700;
    }
  }

  &__title {
    // display: flex;
    font-size: 1.5em;

    text-align: center;
  }
  &__text {
    padding: 1em 0;
    font-size: 1.2em;
  }
  &__email {
    font-size: 1.2em;
  }
  &__button {
  }
}

._active-title {
  box-shadow: 0 0 10px $buttonBorderColor;
  text-decoration: underline;
  transition: all 0.4s linear;
}

._error {
  border: 1.5px solid red !important;
  animation: errorAnimation 0.2s;
}

@keyframes errorAnimation {
  0% {
    transform: translateX(1px);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(1px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(1px);
  }
}
