@import '../../styles/variables.scss';

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px $h1Color solid;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  box-shadow: 0px 15px 10px -15px $buttonBorderColor;

  &__panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
