@import '../../styles/variables.scss';

.footer_wrapper {
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  padding: 0.4em 0;
  margin-top: 1em;
}
.footer {
  &__author {
  }
}
