@import '../../styles/variables.scss';
.input-wrap {
  width: 100%;
}
._input {
  border: 1px solid $inputBorderColor;
  border-radius: 0.1em;
  padding: 0.3em 1em;
  // font-size: 1em;
  margin: 0.2rem 0;
  transition: all 0.2s linear;
  width: 100%;

  &:focus {
    outline: 1.5px solid $hoverBgColor;
  }
}
