@import '../../styles/variables.scss';

.login {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &__name {
    text-align: center;
    padding: 0 1em;

    span {
      font-weight: 700;
    }
  }
  &__logout {
    transition: all 0.2s linear;
    &:hover {
      cursor: pointer;
    }
  }
}
