@import '../../styles/variables.scss';

.radio {
  display: none;
}
.radio:checked + .label {
  color: $inputBorderColor;
  font-weight: 900;
}

.label {
  position: relative;
  padding-left: 1.4em;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 0.5em;
  }
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50px;
    margin-right: 0.5em;
  }
}

.radio:checked + .label::after {
  background-color: $inputBorderColor;
  border-color: $inputBorderColor;
}
.radio:checked + .label::before {
  border-color: $inputBorderColor;
}
